<form action="/answer" method="get" class="text-center">
  <h2> Speak to your coach </h2>
  <input type="text" name="query" placeholder="Your question.">
  <input type="submit" value="Go on!">
</form>
